In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\mailg\OneDrive\Documents\GitHub\PLUTO\Dataset\Primary_Land_Use_Tax_Lot_Output__PLUTO__20241111.csv")

C:\Users\mailg\AppData\Local\Temp\ipykernel_29852\4182618336.py:1: DtypeWarning: Columns (17,18,20,22,24,25,42,44,45,46,47,48,49,52,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\mailg\OneDrive\Documents\GitHub\PLUTO\Dataset\Primary_Land_Use_Tax_Lot_Output__PLUTO__20241111.csv")

In [4]:
df.head()

,borough,Tax block,Tax lot,community board,census tract 2010,cb2010,schooldist,council district,postcode,firecomp,...,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited,notes,bct2020,bctcb2020
0,BK,7852,36,318.0,692.0,2002.0,22.0,46.0,11234.0,E323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3069200.0,3.069200e+10
1,BK,7852,40,318.0,692.0,2002.0,22.0,46.0,11234.0,E323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3069200.0,3.069200e+10
2,BK,7852,28,318.0,692.0,2002.0,22.0,46.0,11234.0,E323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3069200.0,3.069200e+10
3,BK,7852,26,318.0,692.0,2002.0,22.0,46.0,11234.0,E323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3069200.0,3.069200e+10
4,BK,7852,34,318.0,692.0,2002.0,22.0,46.0,11234.0,E323,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3069200.0,3.069200e+10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858275 entries, 0 to 858274
Columns: 101 entries, borough to bctcb2020
dtypes: float64(48), int64(5), object(48)
memory usage: 661.4+ MB

In [6]:
df.describe()

,Tax block,Tax lot,community board,census tract 2010,cb2010,schooldist,council district,postcode,policeprct,healtharea,...,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,notes,bct2020,bctcb2020
count,858275.000000,858275.000000,857382.000000,857356.000000,857356.000000,856655.000000,857380.000000,856643.000000,856650.000000,856650.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.573560e+05,8.573560e+05
mean,5311.343192,153.044151,354.898961,462.380195,2054.330199,22.070879,32.138443,11011.362418,87.099877,3259.448929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.514040e+06,3.514040e+10
std,3698.686758,833.681125,100.877605,377.131058,1158.292356,7.976046,13.267236,471.593888,29.360353,2663.965711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.026586e+06,1.026586e+10
min,0.000000,1.000000,101.000000,1.000000,1.000000,1.000000,1.000000,10001.000000,1.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000100e+06,1.000100e+10
25%,2320.000000,19.000000,306.000000,170.000000,1004.000000,17.000000,22.000000,10466.000000,66.000000,920.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.027500e+06,3.027500e+10
50%,4821.000000,39.000000,402.000000,350.000000,2001.000000,24.000000,32.000000,11221.000000,102.000000,2700.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.007100e+06,4.007100e+10
75%,7463.000000,64.000000,412.000000,662.000000,3000.000000,29.000000,45.000000,11370.000000,111.000000,4700.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.089201e+06,4.089202e+10
max,99999.000000,9502.000000,595.000000,9901.000000,9003.000000,32.000000,51.000000,12345.000000,123.000000,9300.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.990100e+06,5.990100e+10

In [9]:
df.columns

Index(['borough', 'Tax block', 'Tax lot', 'community board',
       'census tract 2010', 'cb2010', 'schooldist', 'council district',
       'postcode', 'firecomp',
       ...
       'landmkdate', 'basempdate', 'masdate', 'polidate', 'edesigdate', 'geom',
       'dcpedited', 'notes', 'bct2020', 'bctcb2020'],
      dtype='object', length=101)

In [12]:
import os

output_path = r"C:\Users\mailg\OneDrive\Documents\GitHub\PLUTO\Dataset\df2_first_20_rows.xlsx"
df2 = df.head(20)
df2.to_excel(output_path, index=False)

In [15]:
# Check for null values across all columns
null_columns = df.columns[df.isnull().all()].tolist()

# List out the columns where all values are null
print("Columns where all values are null:", null_columns)

# Remove columns where all values are null
df = df.drop(columns=null_columns)

Columns where all values are null: []

In [ ]:
output_path2 = r"C:\Users\mailg\OneDrive\Documents\GitHub\PLUTO\Dataset\df_no_nulls.xlsx"
df.to_excel(output_path2, index=False)